*.pt
Abstract_Expressionism/
data/
Mannerism_Late_Renaissance/
Post_Impressionism/
Ukiyo_e/
Action_painting/
Early_Renaissance/
Minimalism/
__pycache__/
venv/
Analytical_Cubism/
Expressionism/
Naive_Art_Primitivism/
Realism/
xfer2013_all_relevant_files/
Art_Nouveau_Modern/
Fauvism/
New_Realism/
Rococo/
xxymse/
Baroque/
fer2013/
Northern_Renaissance/
Romanticism/
zabstract/
Color_Field_Painting/
High_Renaissance/
not-used/
Symbolism/
zz____experiment1/
Contemporary_Realism/
images/
Pointillism/
Synthetic_Cubism/
Cubism/
Impressionism/
Pop_Art/
trained/
.DS_Store
bruk
efficientnet_b7_generated
efficientnet_b7_img_emo_emb
*.pkl
vgg_11_img_emo_emb